* {
    background-color: #536493;
    color: #FFF;
    font-size: 40px;
    text-decoration: none;
    text-align: center;
}

h1 {
    color: #EF5A6F;
    text-align: center;
    font-size: 60px;
}

.glass {
    text-align: center;
}

.link {
    color: #EF5A6F;
    background-color: #FFF;
    border-radius: 10px;
    padding: 5px 10px;
}